@if (open) {

  <div
    class="confirm-backdrop"
    (click)="cancel()"
  >

    <section
      class="confirm-dialog"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="confirm-dialog-title"
      (click)="$event.stopPropagation()"
    >

      <div
        class="confirm-dialog__icon"
        [class.confirm-dialog__icon--danger]="tone === 'danger'"
        [class.confirm-dialog__icon--warning]="tone === 'warning'"
        [class.confirm-dialog__icon--primary]="tone === 'primary'"
      >
        <span
          class="material-symbols-rounded"
          aria-hidden="true"
        >
          @if (tone === 'danger') {
            delete
          } @else if (tone === 'warning') {
            warning
          } @else {
            help
          }
        </span>
      </div>


      <div class="confirm-dialog__copy">

        <h2 id="confirm-dialog-title">
          {{ title }}
        </h2>

        <p>
          {{ message }}
        </p>

      </div>


      <div class="confirm-dialog__actions">

        <button
          type="button"
          class="confirm-dialog__cancel"
          [disabled]="busy"
          (click)="cancel()"
        >
          {{ cancelText }}
        </button>


        <button
          type="button"
          class="confirm-dialog__confirm"
          [class.confirm-dialog__confirm--danger]="tone === 'danger'"
          [class.confirm-dialog__confirm--warning]="tone === 'warning'"
          [disabled]="busy"
          (click)="confirm()"
        >

          @if (busy) {

            <span
              class="confirm-dialog__spinner"
              aria-hidden="true"
            ></span>

            <span>
              Please wait...
            </span>

          } @else {

            <span>
              {{ confirmText }}
            </span>

          }

        </button>

      </div>

    </section>

  </div>

}
