<div
  class="snackbar"
  [class.snackbar--success]="data.type === 'success'"
  [class.snackbar--warning]="data.type === 'warning'"
  [class.snackbar--error]="data.type === 'error'"
  [class.snackbar--info]="data.type === 'info'"
>
  <div class="snackbar__icon">
    <mat-icon>
      {{ icon }}
    </mat-icon>
  </div>

  <div class="snackbar__content">
    <strong>
      @switch (data.type) {
        @case ('success') {
          Success
        }

        @case ('warning') {
          Warning
        }

        @case ('error') {
          Error
        }

        @case ('info') {
          Information
        }
      }
    </strong>

    <p>
      {{ data.message }}
    </p>
  </div>

  <button
    mat-icon-button
    type="button"
    class="snackbar__close"
    aria-label="Close notification"
    (click)="close()"
  >
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>